body {
    font-size:14px;
}


#main {
    width:40%;
    height:80%;
background-color:#eee;
border-radius:10px;
padding:15px 10px 0 15px;
position:relative;
}
#main h1 {
    font-weight:100;
    font-size:1.2em;
    margin-top:0;
    margin-bottom:30px;
}
div.article {
    height:85px;
    border:1px solid black;
    position:relative;
    padding:15px;
    background-color:white;
    font-size:1em;
    text-align:left;
    margin-bottom:35px;
    }

.left-side-image {
    float:left;
    margin-right:15px;
    
}
button {
    background-color:transparent;
    border:none;
    padding:0;
    
}

.left-button {
    width:60px;
    height:25px;
    position:absolute;
    right:80px;
    bottom:13px;

}
.right-button {
    width:50px;
    height:25px;
    position:absolute;
    right:15px;
    bottom:13px;
    }
.labelright {
    position:absolute;
    right:25px;
    bottom:16px;
    color:white;
}
.labelleft {
    position:absolute;
    right:90px;
    bottom:16px;
    color:white;
}
